@font-face {
    font-family: "minimal";
    src: url("../assets/fonts/minimal.otf");
}
@font-face {
    font-family: "antipastoRegular";
    src: url("../assets/fonts/Antipasto-RegularTrial.ttf");
}
@font-face {
    font-family: "antipastoBold";
    src: url("../assets/fonts/Antipasto-ExtraBoldTrial.ttf");
}
@font-face {
    font-family: "laneRegular";
    src: url("../assets/fonts/laneregular.ttf");
}
@font-face {
    font-family: "laneUp";
    src: url("../assets/fonts/laneUp.ttf");
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html, body {

  height:100%;
  width:100%;
  font-family: sans-serif;


}

/* CONTENEDOR PRINCIPALL PAGINA */

.padre{
  display: flex;
  justify-content: center;
  width: 100%;
}

.contenedorPagina, .contentCenter{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;;
  align-items: center;
  position: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 height: 100%;
 width: 100% ;
 text-align: center;
 z-index: 1;
 padding-top: 6%;
}
.contentCenter{
  justify-content: center;
}

#pajarosSvg{
  z-index: 1;
  width: 100%;
  height: 100%;

}

.contenedorSvg{

  width: 100%;
  max-height: 10%;

}

/* HEADER */

/* CSS header*/

header{
  width: 100%;
  z-index: 1000;
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
}

.contenedorBotonesCapitulos{
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  align-items: center;;
  z-index: 1000;
  width: 100%;
}


/* LOGO*/

#logo-header {
	float: left;
	text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row nowrap;
  width:35%;
}

#logo-header .nombreSitio {

	font-weight: 700;
	font-size: 2.5em;
  font-family: "minimal";
  color:#c12c2a;

}

.img-logo{
  width:20%;
  padding: 5%;
}

#logo-header .img-logo img {

  width: 100%;
  height: 100%;

}
nav {
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-right: 20px;
}

nav ul li {
	display: inline-block;
	line-height: 80px;
}

nav ul li a {
	display: block;
	padding: 0 10px;
	text-decoration: none;
  color:#b32e14;
  font-family: "antipastoRegular";
  font-size: 1.5em;
}

nav ul li a:hover {
	background:#da942e;
  color:white;
}


/* H'S */
a{
  text-decoration: none;
  color: #b32e14;
}



a:hover{
  text-decoration: none;
}

.aCapitulos{
 text-decoration: none;
 color: #FEFEF7;
 font-size: 1em;
 font-weight: bolder;
 font-family: "laneRegular";
 align-self: center;
 padding: 0.3em 1em 0.3em 1em;


}

.aCapitulos:hover{
text-decoration: none;
font-weight: bolder;
font-family: "laneRegular";
align-self: center;
border-bottom: 4px solid #319B8B;
position: absolute;
z-index: 10001;

}
.aBotonVerMas{
 text-decoration: none;
 color: #b8392a;
 font-size: 1.4em;
 font-weight: bolder;
 font-family: "laneRegular";
 align-self: center;
}

.aBotonVerMas:hover{
text-decoration: none;
color: #e9bf21;
font-weight: bolder;
font-family: "laneRegular";
align-self: center;
}

h1{
  margin: 0.3em;
  font-size: 1.8em;
  font-weight: bolder;
  font-family: "laneRegular";
  align-self: center;
  color: #682522;
  padding: 0.25em 0em 0.25em 0em ;

}

h4{
  margin: 0.3em;
  font-size: 2em;
  font-weight: bolder;
  font-family: "laneRegular";
  align-self: center;
  color: #FFF457;

}

.tituloCapitulo {
  margin: 0.3em;
  padding: 0.1em;
  margin-top: 0em;
  font-size: 3.5em;
  font-weight: bolder;
  font-family: "laneRegular";
  align-self: center;
  background-color: rgba(254, 254, 247, 0.7);
  width: 100%;
  color: #E54C2D;
}


.letraComponente{
  font-size: 1.2em;
  font-family: "laneRegular";
  align-self: flex-start;;
  color: #FFFFF7;
}

 .subrayado{
  color: #f9c100;
}

h7{
  font-size: 1.2em;
  font-family: "laneRegular";
  text-align: justify;
  color: #282830;
}

h5{
  margin: 0.3em;
  font-size: 1.2em;
  padding: 2em 2em 2em 2em;
  font-family: "laneRegular";
  text-align: justify;
  color: #282830;
}
h6{
  font-size: 5em;
  font-family: "laneRegular";
  font-weight: bold;
  text-align: justify;
  color: #282830;
}

#tituloInfo{
    font-size: 2em;
}

#contenidoBibliografia{
  padding: 0em 0em 2em 0em;
}

/* centro de la pagina clases */

.centroPagina{
  display: flex;
  justify-content: space-around;;
  flex-flow: column nowrap;
  align-items: center;
  align-self: center;
  width: 60%;
  /*padding: 1%;
  margin-top: 4em;*/
}

.dosColumnas{
  display: flex;
  justify-content: space-around;;;;
  flex-flow: row nowrap;
  align-items: center;
  align-self: center;
  width: 80%;

}

.dosRowFullsize{
  display: flex;
  justify-content: flex-start;
  flex-flow: row nowrap;
  align-items: flex-start;;
  width: 100%;
  padding: 3em;
}

.dosColumnasFullsize{
  display: flex;
  justify-content: flex-end;
  flex-flow: column nowrap;
  align-items: flex-start;;
  width: 100%;
}


.tresColumnasFullsize{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-self: center;
  justify-content: space-around;
  width: 100%;
}

.transparentBackground{

  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;

}

.transparentBackground1{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  border: 0px solid #000000;
  padding: 1em;
  width: 40%;
}


.whiteBackground{

  /*background-color: rgba(255, 255, 255, 0.9);*/
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;

}

.pergaminoBackground{
  width: 50%;
  background-size: 100% 100%;

}

.contenedorPergamino{
  display: flex;
  justify-content: center;
  padding: 4em 6em 4em 6em;

}

.contenedorCentradoBotonesCapitulo{
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
  align-items: center;;
  width: 80%;
  background-color: rgba(198, 76, 64, 0.9);
  border-radius: 0px 0px 8px 8px;
  -moz-border-radius:0px 0px 8px 8px;
  -webkit-border-radius:0px 0px 8px 8px;

}
.columna40{
 display: flex;
 justify-content: center;;;;
 flex-flow: row nowrap;
 align-items: center;;
 width: 40%;
}

.columna40dosColumnas{
 display: flex;
 justify-content: center;;;;
 flex-flow: row nowrap;
 align-items: center;;
 width: 40%;
}

 .columna, .columna60, .columna20{
  display: flex;
  justify-content: center;;;;
  flex-flow: column nowrap;
  align-items: center;;
  width: 50%;

}

.columna60{
  display: flex;
  justify-content: center;;;;
  flex-flow: column nowrap;
  align-items: center;;
  width: 60%;
}
.columna20{
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
  align-items: center;;
  width: 20%;

}
.columna30{
  display: flex;
  justify-content: center;;;;
  flex-flow: column nowrap;
  align-items: center;;
  width: 30%;

}


#muestraCapitulos{
  /*display: none;*/
}

#personaje{
  margin: 0.3em;
  font-size: 3em;
  font-weight: bold;
  font-family: "laneRegular";
  align-self: center;
  color: white;
  width: 30%;
}

#listaCapitulos{
  display: flex;
  justify-content:center;
  align-items: center;
  padding-top: 3.5em;
}

 /* BOTON SALTAR INTRO*/

.contenedorBoton{
  display: flex;
  justify-content:center;
  width: 80%;
/*  padding: 0.1em; */
  padding: 1%;
  align-items: center;
  flex-flow: row nowrap;
  background-color: rgba(254, 254, 247, 1);
  border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  border: 0px solid #000000;
  color: #b32e14;
}

.marginBoton{
  margin:1em;
}

 .contenedorBoton:hover{
  cursor: pointer;
  color:#da942e;
  width: 85%;
  -webkit-transition: width 100ms linear;
 -moz-transition: width 100ms linear;
 -ms-transition: width 100ms linear;
 -o-transition: width 100ms linear;
 transition: width 100ms linear;
}

#botonSaltarIntro{
  font-size: 2.5em;
  font-family: "antipastoRegular";
  width:  5em;
  align-self: center;
}

#botonSaltarIntro  a:hover{
  cursor: pointer;
  color:#da942e;
}
#cap1, #cap2 , #cap3, #cap4, #cap5, #cap6{
  margin: 0.3em;
  font-size: 1.6em;
  font-weight: bold;
  font-family: "laneRegular";
  align-self: center;
}

/*#acercaContent{
  display: flex;;
}*/

/*CAPITULOSSS*/

.contenedorBotonCap{
  display: flex;
  justify-content:center;
  width: 100%;
  text-decoration: none;
  /*  padding: 0.1em; */
  align-items: center;
  flex-flow: row nowrap;
  border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  border: 0px solid #000000;
  color: #fefef7;
}


 .contenedorBotonCap:hover{
  cursor: pointer;
}

/* CAPITULO 1*/

.fullSize{
  display: flex;
  justify-content: center;
  width: 100%;
}

.botonSiguiente{
  align-self: flex-end;
  width: 60%;
}

.flexEnd{
  align-self: flex-end;
}

.botonAtras{
  align-self: flex-start;;
  width: 60%;
}

.botonVerMas{
  align-self: flex-start;;
  width: 10%;
  font-weight: bolder;
  font-size: 1.4em;
  font-family: "laneRegular";
  align-self: center;
}

.botonVerMas:hover{
  cursor: pointer;
  color:#e9bf21;
  width: 15%;
}


.componente{
  display: flex;
  justify-content:space-around;;
  align-self: flex-end;
  width: 80%;
/*  padding: 0.1em; */
  align-items: center;
  flex-flow: row nowrap;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 12px 0px 0px 12px;
  -moz-border-radius: 12px 0px 0px 12px;
  -webkit-border-radius: 12px 0px 0px 12px;
  border: 0px solid #000000;
  padding: 1em;
}

.componenteSeccion{
  display: flex;
  justify-content:center;;
  align-self: center;
  width: 80%;

/*  padding: 0.1em; */
  align-items: center;
  flex-flow: row nowrap;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0px 12px 12px 0px;
  -moz-border-radius:  0px 12px 12px 0px;
  -webkit-border-radius:  0px 12px 12px 0px;
  border: 0px solid #000000;
  padding: 0.9em;
}

.contenidoDesplegable{
   max-height:0;
   overflow:hidden;
   -webkit-transition: max-height 500ms ease-out;
   -moz-transition: max-height 500ms ease-out;
   -o-transition: max-height 500ms ease-out;
   transition: max-height 500ms ease-out;
}

.desplegable{
  display: flex;
  justify-content: flex-end;;
  align-items: flex-end;
  flex-flow: column nowrap;
  align-self: flex-end;
  width: 40%;

}
#contenidoDesplegado{
  width: 70%;
  align-self: flex-end;
  justify-content: center;
  padding: 0em;

}
#contenidoDesplegado h5{
  padding: 0em;

}

#botonSabiasQue{
  width: 25%;
  justify-content: center;
  align-self: center;;
  background-color: #682522;
  color: #fefef7;
}

/* SEGUNDA SECCION */

.contenedorBotonesVideo{
  display: flex;
  justify-content: space-around;;
  flex-flow: row nowrap;
  width:100%;
  align-items: center;
}
.botonVerVideo{
  display: flex;
  justify-content: center;
  align-self: center;;
  color: #fefef7;
  padding: 0.5em;
}
 .botonVideo{
  width: 25%;
  height: 25%;
}

.textoBotonVideo{
  margin-left: 1.2em;
  padding: 1em;
  width: 70%;
  background-color: rgba(254, 254, 247, 0.6);
  border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  border: 0px solid #000000;
  font-size: 1em;
  font-family: "laneRegular";
  font-weight: bold;
  text-align: center;
  color: #282830;
}

.botonVideo:hover{
color: #fefef7;
transform: scale(1.3);
-webkit-transform: scale(1.3);
-moz-transform: scale(1.3);
-o-transform: scale(1.3);
cursor: pointer;
}


.visorFull{
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  align-items: center;
  align-self: center;
  z-index: 1000;
  width: 100%;

}


.contentVideoCenter{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;;
  align-items: center;
  position: fixed;
  -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 background-color:rgba(104, 37, 34, 0.9);
 height: 100%;
 width: 100% ;
 text-align: center;
 z-index: 900;
 padding-top: 6%;


}

#cerrarVideoZimbaue,#cerrarMapaImperios, #cerrarVistaMali, #cerrarVistaYolofo, #cerrarVistaGhana, #cerrarVistaBenin, #cerrarVistaKon{
  width: 60%;
  height: 60%;
}

#cerrarVideo{
  width: 60%;
  height: 60%;
}

.pdfCapitulo1{
  width: 50%;
  height: 50%;
  margin-left: 0.5em;

}

.pdfCapituloAfuera{
  width: 80%;
  height: 80%;
}

.contenedorBotonesCerrarPdf{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;;
  align-self: flex-start;
  align-items: center;
  align-content: center;
  width: 10%;
}

.contenedorBotonesCerrarPdf2{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;;
  align-self: flex-start;
  align-items: center;
  align-content: center;
  width: 10%;
}

.marginTop5{
    margin-top: 5%;
}

.aPdf{
  text-decoration: none;
}

.contenedorColumnaImagenVideo{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-flow: column wrap;
  padding: 3em;
}

#mapaSvg{
  width: 100%;
  height: 100%;
  margin-top: 7%;
}


/*video*/

video{
  border: 100px;
  width: 100%;
  height: 100%
}

.contentAudio{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;;


}

.iconoAudio{
  width: 30%;
  background-color: rgba(243, 204, 49, 0.5);
  padding: 2%;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border: 0px solid #000000;
}

.iconoNoAudio{
  width: 30%;
  background-color: rgba(243, 204, 49, 0);
  padding: 2%;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border: 0px solid #000000;
  display: none;
}

.contentAudio:hover{
  cursor: pointer;
}


/* Atributo hidden */

*[hidden] { display: none; }


  .imagenSecciones{
    width: 20%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    border: 0px solid #000000;
    padding: 1em;
  }

  .imagenSeccionesDos{
    width: 20%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    border: 0px solid #000000;
    padding: 1em;
  }


  .imagenesImperiosContenida{
    width: 60%;
    height: 60%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    border: 0px solid #000000;
    padding: 1em;
  }

  .imagenesImperios{
    width: 29%;
    height: 29%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    border: 0px solid #000000;
    padding: 1em;
  }


@media screen and (max-width:1920px) {



}

@media screen and (min-width: 1500px) and (max-width: 1920px) {


  .pergaminoBackground{
    width: 40%;
    margin-top: 2%;;
  }

  .dosColumnasFullsize{
    padding: 4em;
  }

  .imagenesImperios{
    width: 23%;
  }


 }


@media screen and (min-width: 1300px) and (max-width: 1490px) {

    .contentCenter{
      padding-top: 12%;
    }

  .aCapitulos{
   font-size: 0.8em;
  }

  h7{
    font-size: 0.9em;
  }


  .dosColumnasFullsize{
  }

  }

  @media screen and (min-width: 1490px) {

      .contentCenter{
        padding-top: 10%;
      }

    }




    @media screen and (min-width: 720px) and (max-width: 1000px) and (min-height:480px) and (max-height:720px){


      #listaCapitulos{
        width: 90%;
      }

      h4{
        font-size: 1.4em;

      }

      #cap1, #cap2 , #cap3, #cap4, #cap5, #cap6{
        font-size: 1em;
      }

      #personaje{
        width:90%;
      }

      header{
        position: fixed;
        z-index: 1000;
        width: 100%;
      }

      /* LOGO*/

      #logo-header {
        padding: 0px 0 0 0px;
      }

      #logo-header .nombreSitio {

        font-size: 1.3em;

      }

      #logo-header{
        width: 40%;
      }

      .img-logo{
        width: 25%;
      }

      #logo-header .img-logo img{
        width: 100%;
        height: 100%;

      }

      nav {
        float: right;
      }

      .nav-audio {

        width:10%;
      }


      nav ul {
        padding-right: 10px;
      }

      nav ul li {
        line-height: 40px;
      }

      nav ul li a {
        padding: 0 10px;
       font-size: 0.9em;
      }

      .iconoAudio{
        width:40%;
      }


      .contenedorCentradoBotonesCapitulo{
        width: 90%;
      }

      .aCapitulos{
        font-size: 0.75em;
      }

      header{
        height: 8.5%;
      }

      .contenedorPagina, .contentCenter{
        padding-top: 19%;
      }

      .tituloCapitulo{
        font-size: 2em;
      }

      #personaje{
        width: 300%;
      }

      .tresColumnasFullsize{
        flex-flow: row nowrap;
      }

      .botonVerMas{
        width: 20%;
      }

      .pergaminoBackground{
        width: 600%;
        margin-top: 60%;
      }
      .dropdown-menu h5{
        font-size: 10px;
        padding: 3%;

      }

      .aBotonVerMas{
        font-size: 0.8em;
      }

      .textoBotonVideo{
        font-size: 0.8em;
      }

      .contenedorPergamino h6{
        font-size: 9px;;
      }




      #mapaSvg{
        width: 130%;
        height: 130%;
        margin-top: 10%;
      }




      /*dentro de las vistas*/

      .visorFull{
        margin-top: 12%;
      }

      .columna40{
        width: 60%;
      }

      .columna40dosColumnas{
        width: 130%;

      }

      .columna30{
        width: 50%;
      }


      h7{
        font-size: 0.8em;
      }

      .componenteSeccion{
        font-size: 1.5em;
      }

      .h1, h1{

        font-size: 12px;;

      }

      .componenteSeccion{
        width: 100%;
        padding: 0.5em;
      }

      .contenedorBotonesVideo{
        width: 110%;
      }

      .pdfCapituloAfuera{
        width: 150%;
        padding-right: 20%;
      }

      .contenedorColumnaImagenVideo{
        padding: 1em 1em 1em 2em;;
      }

      .transparentBackground1{
        width: 58%;

      }

      .imagenSecciones{
        padding: 0.8em;
        width: 25%;
        height: 25%;

      }

      .imagenSeccionesDos{
        width: 10%;
        height: 10%;
        display: none;
      }

      .columna30{
        width: 80%;
      }

      .contenedorBotonesCerrarPdf2{
        width: 23%;
      }


     }


        @media screen and (min-width: 1000px) and (max-width: 1250px) and (min-height:550px) and (max-height:1000px){

       #listaCapitulos{
         width: 130%;
       }

       h4{
         font-size: 2em;

       }

       #cap1, #cap2 , #cap3, #cap4, #cap5, #cap6{
         font-size: 2em;
       }

       #personaje{
         width:130%;
         margin-top: 6%;
       }

       header{
         position: fixed;
         z-index: 1000;
         width: 100%;
         background-color:#FFFFF7;
       }

       /* LOGO*/

       #logo-header {
       	padding: 8px 0 0 14px;
       }

       #logo-header .nombreSitio {

       	font-size: 1.8em;

       }

       #logo-header{
         width: 40%;
       }

       .img-logo{
         width: 20%;
       }

       .contenedorHeader{
         height: 100%;
       }

       #logo-header .img-logo img{
         width: 100%;
         height: 100%;

       }

       nav {
       	float: right;
       }

       .nav-audio {

         width:10%;
       }


       nav ul {
       	padding-right: 10px;
       }

       nav ul li {
       	line-height: 40px;
       }

       nav ul li a {
       	padding: 0 10px;
        font-size: 1em;
       }

       .iconoAudio{
         width:40%;
       }


       .contenedorCentradoBotonesCapitulo{
         width: 90%;
       }

       .aCapitulos{
         font-size: 0.8em;
       }

       header{
         height: 8.5%;
       }

       .contenedorPagina, .contentCenter{
         padding-top: 13%;
       }

       .tituloCapitulo{
         font-size: 3em;
       }

       #personaje{
         width: 300%;
         margin-top: 0%;
       }

       .tresColumnasFullsize{
         flex-flow: row nowrap;
       }

       .botonVerMas{
         width: 20%;
         font-size: 2.5em;
       }

       .pergaminoBackground{
         width: 600%;
         margin-top: 20%;
       }
       .dropdown-menu h5{
         font-size: 1.8em;
         padding: 3%;

       }

       .columna20{
         width: 30%;
       }

       .dropdown-menu{
        width:400% ;
       }

       .btn-group{
         font-size: 20em;
       }


       .columna .btn-group .open{
         width: 40%;
       }

       .aBotonVerMas{
         font-size: 0.8em;
       }

       .textoBotonVideo{
         font-size: 1em;
         margin-left: 3em;
       }


       .contenedorPergamino{
         padding: 3em 6em 3em 6em;
       }

       #mapaSvg{
         width: 110%;
         height: 110%;
         margin-top: 10%;
       }




       /*dentro de las vistas*/

       .visorFull{
         margin-top: 2%;
       }

       .columna40{
         width: 60%;
       }

       .columna40dosColumnas{
         width: 100%;

       }

       .columna30{
         width: 50%;
       }


       h7{
         font-size: 1.1em;
       }

       .componenteSeccion{
         font-size: 1.5em;
       }

       .h1, h1{

         font-size: 12px;;

       }

       .componenteSeccion{
         width: 100%;
         padding: 0.5em;
       }

       .contenedorBotonesVideo{
         width: 85%;
       }

       .pdfCapituloAfuera{
         width: 160%;
       }

       .contenedorColumnaImagenVideo{
         padding: 1em 1em 1em 2em;;
       }

       .transparentBackground1{
         width: 58%;

       }

       .imagenSecciones{
         padding: 0.8em;
         width: 25%;
         height: 25%;

       }

       .imagenSeccionesDos{
         width: 10%;
         height: 10%;
         display: none;
       }

       .columna30{
         width: 80%;
       }

       .contenedorBotonesCerrarPdf2{
         width: 23%;
       }


      }


              @media screen and (min-width: 1250px) and (max-width: 1400px) and (min-height:700px) and (max-height:1200px){

             #listaCapitulos{
               width: 130%;
             }

             h4{
               font-size: 2em;

             }




             #cap1, #cap2 , #cap3, #cap4, #cap5, #cap6{
               font-size: 2em;
             }

             #personaje{
               width:130%;
               margin-top: 6%;
             }

             header{
               position: fixed;
               z-index: 1000;
               width: 100%;
               background-color:#FFFFF7;
             }

             /* LOGO*/

             #logo-header {
             	padding: 8px 0 0 14px;
             }

             #logo-header .nombreSitio {

             	font-size: 2.5em;

             }

             #logo-header{
               width: 40%;
             }

             .img-logo{
               width: 25%;
             }

             .contenedorHeader{
               height: 100%;
             }

             #logo-header .img-logo img{
               width: 100%;
               height: 100%;

             }

             nav {
             	float: right;
             }

             .nav-audio {

               width:10%;
             }


             nav ul {
             	padding-right: 10px;
             }

             nav ul li {
             	line-height: 40px;
             }

             nav ul li a {
             	padding: 0 10px;
              font-size: 1.5em;
             }

             .iconoAudio{
               width:40%;
             }


             .contenedorCentradoBotonesCapitulo{
               width: 90%;
             }

             .aCapitulos{
               font-size: 1.2em;
             }

             header{
               height: 8.5%;
             }

             .contenedorPagina, .contentCenter{
               padding-top: 12%;
             }

             .tituloCapitulo{
               font-size: 3em;
             }

             #personaje{
               width: 300%;
               margin-top: 0%;
             }

             .tresColumnasFullsize{
               flex-flow: row nowrap;
             }

             .botonVerMas{
               width: 20%;
               font-size: 2.5em;
             }

             .pergaminoBackground{
               width: 600%;
             }
             .dropdown-menu h5{
               font-size: 1.8em;
               padding: 3%;

             }

             .columna20{
               width: 30%;
             }

             .dropdown-menu{
              width:400% ;
             }

             .btn-group{
               font-size: 20em;
             }


             .columna .btn-group .open{
               width: 40%;
             }

             .aBotonVerMas{
               font-size: 0.8em;
             }

             .textoBotonVideo{
               font-size: 1.5em;
               margin-left: 3em;
             }

             .contenedorPergamino h6{
               font-size: 1.2em;;;
             }


             .contenedorPergamino{
               padding: 3em 6em 3em 6em;
             }

             #mapaSvg{
               width: 110%;
               height: 110%;
               margin-top: 10%;
             }




             /*dentro de las vistas*/

             .visorFull{
               margin-top: 2%;
             }

             .columna40{
               width: 60%;
             }

             .columna40dosColumnas{
               width: 100%;

             }

             .columna30{
               width: 50%;
             }


             h7{
               font-size: 1.5em;
             }

             .componenteSeccion{
               font-size: 1.5em;
             }

             .h1, h1{

               font-size: 12px;;

             }

             .componenteSeccion{
               width: 100%;
               padding: 0.5em;
             }

             .contenedorBotonesVideo{
               width: 85%;
             }

             .pdfCapituloAfuera{
               width: 160%;
             }

             .contenedorColumnaImagenVideo{
               padding: 1em 1em 1em 2em;;
             }

             .transparentBackground1{
               width: 58%;

             }

             .imagenSecciones{
               padding: 0.8em;
               width: 25%;
               height: 25%;

             }

             .imagenSeccionesDos{
               width: 10%;
               height: 10%;
               display: none;
             }

             .columna30{
               width: 80%;
             }

             .contenedorBotonesCerrarPdf2{
               width: 23%;
             }


            }



                @media screen and (min-width: 600px) and (max-width: 800px) and (min-height:350px) and (max-height:720px){


                  .letraTema{
                    font-size: 0.6em;
                  }


                  #listaCapitulos{
                    width: 90%;
                  }

                  h4{
                    font-size: 5px;

                  }

                  button .btn .btn-warning .dropdown-toggle h4{
                    font-size: 1px;
                  }

                  #cap1, #cap2 , #cap3, #cap4, #cap5, #cap6{
                    font-size: 1em;
                  }

                  #personaje{
                    width:90%;
                  }

                  header{
                    position: fixed;
                    z-index: 1000;
                    width: 100%;
                  }

                  /* LOGO*/

                  #logo-header {
                    padding: 0px 0 0 0px;
                  }

                  #logo-header .nombreSitio {

                    font-size: 1.1em;

                  }

                  #logo-header{
                    width: 30%;
                  }


                  .img-logo{
                    width: 30%;
                  }

                  #logo-header .img-logo img{
                    width: 100%;
                    height: 100%;

                  }

                  nav {
                    float: right;
                  }

                  .nav-audio {

                    width:10%;
                  }


                  nav ul {
                    padding-right: 10px;
                  }

                  nav ul li {
                    line-height: 40px;
                  }

                  nav ul li a {
                    padding: 0 10px;
                   font-size: 0.9em;
                  }

                  .iconoAudio{
                    width:40%;
                  }


                  .contenedorCentradoBotonesCapitulo{
                    width: 90%;
                  }

                  .aCapitulos{
                    font-size: 0.5em;
                  }

                  header{
                    height: 8.5%;
                  }

                  .contenedorPagina, .contentCenter{
                    padding-top: 17%;
                  }

                  .tituloCapitulo{
                    font-size: 1.4em;
                  }

                  #personaje{
                    width: 300%;
                  }

                  .tresColumnasFullsize{
                    flex-flow: row nowrap;
                  }

                  .botonVerMas{
                    width: 20%;
                  }

                  .pergaminoBackground{
                    width: 1100%;
                    margin-top: 1000%;
                  }
                  .dropdown-menu h5{
                    font-size: 0.6em;
                    padding: 3%;

                  }

                  button{
                    font-size: 0.6em;
                  }

                  .aBotonVerMas{
                    font-size: 0.8em;
                  }

                  .textoBotonVideo{
                    font-size: 0.5em;
                  }

                  .contenedorPergamino h6{
                    font-size: 0.5em;;
                  }


                  .contenedorPergamino{
                    padding: 2em 3.2em 2em 3.2em;
                  }

                  #mapaSvg{
                    width: 130%;
                    height: 130%;
                    margin-top: 10%;
                  }




                  /*dentro de las vistas*/

                  .visorFull{
                    margin-top: 8%;
                  }

                  .columna40{
                    width: 60%;
                  }

                  .columna40dosColumnas{
                    width: 130%;

                  }

                  .columna30{
                    width: 50%;
                  }


                  h7{
                    font-size: 0.65em;
                  }

                  .componenteSeccion{
                    font-size: 1em;
                  }

                  .h1, h1{

                    font-size: 12px;;

                  }

                  .componenteSeccion{
                    width: 100%;
                    padding: 0.5em;
                  }

                  .contenedorBotonesVideo{
                    width: 110%;
                  }

                  .pdfCapituloAfuera{
                    width: 100%;
                    padding-right: 10%;
                  }

                  .contenedorColumnaImagenVideo{
                    padding: 1em 1em 1em 2em;;
                  }

                  .transparentBackground1{
                    width: 48%;

                  }

                  .imagenSecciones{
                    padding: 0.8em;
                    width: 25%;
                    height: 25%;

                  }

                  .imagenSeccionesDos{
                    width: 10%;
                    height: 10%;
                    display: none;
                  }

                  .columna30{
                    width: 80%;
                  }

                  .contenedorBotonesCerrarPdf2{
                    width: 23%;
                  }


                 }



                                 @media screen and (min-width: 320px) and (max-width: 600px) and (min-height:250px) and (max-height:500px){


                                   #listaCapitulos{
                                     width: 90%;
                                   }

                                   h4{
                                     font-size: 5px;

                                   }

                                   button .btn .btn-warning .dropdown-toggle h4{
                                     font-size: 1px;
                                   }

                                   #cap1, #cap2 , #cap3, #cap4, #cap5, #cap6{
                                     font-size: 1em;
                                   }

                                   #personaje{
                                     width:90%;
                                   }

                                   header{
                                     position: fixed;
                                     z-index: 1000;
                                     width: 100%;
                                   }


                                   #logo-header {
                                     padding: 0px 0 0 0px;
                                   }

                                   #logo-header .nombreSitio {

                                     font-size: 0.9em;

                                   }

                                   #logo-header{
                                     width: 30%;
                                   }


                                   .img-logo{
                                     width: 20%;
                                   }

                                   #logo-header .img-logo img{
                                     width: 100%;
                                     height: 100%;

                                   }

                                   nav {
                                     float: right;
                                   }

                                   .nav-audio {

                                     width:10%;
                                   }


                                   nav ul {
                                     padding-right: 10px;
                                   }

                                   nav ul li {
                                     line-height: 40px;
                                   }

                                   nav ul li a {
                                     padding: 0 10px;
                                    font-size: 0.7em;
                                   }

                                   .iconoAudio{
                                     width:40%;
                                   }


                                   .contenedorCentradoBotonesCapitulo{
                                     width: 90%;
                                   }

                                   .aCapitulos{
                                     font-size: 0.5em;
                                   }

                                   header{
                                     height: 8.5%;
                                   }

                                   .contenedorPagina, .contentCenter{
                                     padding-top: 16%;
                                   }

                                   .tituloCapitulo{
                                     font-size: 1em;
                                   }

                                   #personaje{
                                     width: 300%;
                                   }

                                   .tresColumnasFullsize{
                                     flex-flow: row nowrap;
                                   }

                                   .botonVerMas{
                                     width: 20%;
                                   }

                                   .pergaminoBackground{
                                     width:1000%;
                                     margin-top: 1500%;
                                   }
                                   .dropdown-menu h5{
                                     font-size: 0.6em;
                                     padding: 3%;

                                   }



                                   .aBotonVerMas{
                                     font-size: 0.6em;
                                   }

                                   .textoBotonVideo{
                                     font-size: 0.5em;
                                   }

                                   .contenedorPergamino h6{
                                     font-size: 0.45em;;
                                   }


                                   .contenedorPergamino{
                                     padding: 1.5em 3em 1.5em 3em;
                                   }

                                   #mapaSvg{
                                     width: 130%;
                                     height: 130%;
                                     margin-top: 10%;
                                   }




                                   .visorFull{
                                     margin-top: 7%;
                                   }

                                   .columna40{
                                     width: 60%;
                                   }

                                   .columna40dosColumnas{
                                     width: 130%;

                                   }

                                   .columna30{
                                     width: 50%;
                                   }


                                   h7{
                                     font-size: 0.55em;
                                   }

                                   .componenteSeccion{
                                     font-size: 1em;
                                   }

                                   .h1, h1{

                                     font-size: 12px;;

                                   }

                                   .componenteSeccion{
                                     width: 100%;
                                     padding: 0.5em;
                                   }

                                   .contenedorBotonesVideo{
                                     width: 90%;
                                   }

                                   .pdfCapituloAfuera{
                                     width: 70%;
                                     padding-right: 5%;
                                   }

                                   .contenedorColumnaImagenVideo{
                                     padding: 1em 1em 1em 2em;;
                                   }

                                   .transparentBackground1{
                                     width: 45%;
                                     padding: 0.5em;

                                   }

                                   .imagenSecciones{
                                     padding: 0.8em;
                                     width: 25%;
                                     height: 25%;

                                   }

                                   .imagenSeccionesDos{
                                     width: 10%;
                                     height: 10%;
                                     display: none;
                                   }

                                   .columna30{
                                     width: 80%;
                                   }

                                   .columna20{
                                     width: 30%;
                                   }

                                   .contenedorBotonesCerrarPdf2{
                                     width: 23%;
                                   }


                                  }


                                        portrait{
                                          background-color: #C12C2A;
                                          width: 100%;
                                          height: 100%;
                                          display: flex;
                                          justify-content: center;
                                          align-items: center;
                                          align-content: center;

                                        }

                                        .letraMsg{
                                          color: #E9BF21;
                                          text-align: center;
                                          font-size: 3em;
                                          font-family: "minimal";
                                          font-weight: bolder;
                                          padding: 0.5em;

                                        }

                                  @media (orientation: portrait) {
                                      landscape{
                                          display: none;
                                            }
                                      portrait{
                                        display: flex;
                                      }
                                  }

                                  @media (orientation: landscape) {
                                      portrait{
                                          display: none;
                                            }
                                      landscape{
                                        display: block;
                                      }
                                  }
