<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../static/css/index.css">
    <title> Raíces afrocolombianas </title>
    <link rel="icon" type="image/png" href="../../static/assets/img/titulo.png" />
    <script src="../../static/node_modules/pixi.js/dist/browser/pixi.js"></script>
    <script src="../../static/node_modules/@pixi/sound/dist/pixi-sound.js"></script>
    <script src="../../static/assets/libs/charm-master/bin/Charm.js"></script>
    <script src="../../static/assets/libs/jquery-3.1.1.min.js"></script>
    <script src="../../static/src/audio.js"></script>

</head>
<body>

    <landscape>

        <header>

            <div class="contenedorHeader " >

                <a id="logo-header" href="../historia/">
                <div class="img-logo">
                    <img src="../../static/assets/images/botones/iconoAfrotic.png" alt="Afrotic">
                </div>
                    <span class="nombreSitio"> Raíces Afrocolombianas </span>
                </a>

                <nav>
                    <ul>
                    <li><a style="text-decoration:none;" href="../historia/">Historia</a></li>
                        <li><a style="text-decoration:none;" href="../acerca/">Acerca del proyecto</a></li>
                        <li><a style="text-decoration:none;" id="" href="../bibliografia/"> Bibliografía </a></li>
                            <li><a id="" href=""> Usuario </a></li>
                            <li><a style="text-decoration:none;" id="" href=""> [Salir] </a></li>
                    </ul>
                </nav>

                <nav class="nav-audio">
                    <div id="audio" class="contentAudio" href="#">
                    <img class="iconoAudio" src="../../static/assets/images/botones/sonido.png" alt="">
                    <img class="iconoNoAudio" src="../../static/assets/images/botones/nosonido.png" alt="">
                    <audio id="cancion" src="../../static/assets/cancion/1.mp3" Loop  autoplay="true"></audio>
                </div>
                </nav>


        </div>

        </header>

        <!-- Inicio Contenido -->

        <div id="mainpage" class="mainpage">
        </div>
        <script src="../../static/assets/js/functions.js"></script>
        <script src="../../static/assets/js/capitulo5.js"></script>

        <!-- Fin Contenido -->

        </landscape>

</body>
</html>
       